*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}
body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 16px;

  #header {
    padding: 16px 8px;
    background: royalblue;
    color: #fff;
    .nav {
      display: flex;
      gap: 16px;
      ul#boards-container {
        list-style: none;
        display: flex;
        gap: 16px;
        align-items: center;
        li.board {
          &:is(:hover, .active) {
            background-color: rgba(0, 0, 0, 0.4);
          }
          cursor: pointer;
          p {
            padding: 16px;
            border: 1px solid;
          }
        }
      }
    }
  }

  main.list-container {
    display: flex;
    gap: 16px;
    padding: 0 16px;

    .list {
      display: flex;
      flex-direction: column;
      gap: 16px;
      padding: 16px;
      border: 1px solid;
      border-radius: 8px;

      &.dropable {
        background: rgba(0, 0, 0, 0.5);
      }

      .list-header {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        .list-edit-btn {
          position: absolute;
          top: -8px;
          right: 16px;
          cursor: pointer;
          color: green;
        }
        .delete-list-btn {
          color: palevioletred;
          position: absolute;
          top: -8px;
          right: -8px;
          cursor: pointer;
        }
      }

      .list-items {
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 16px;

        .item {
          padding: 8px 16px;
        }
      }
    }

    .card {
      display: flex;
      flex-direction: column;
      border: 1px solid;
      border-radius: 8px;
      gap: 8px;
      .card-header {
        position: relative;
        border-bottom: 1px solid;
        padding: 8px 16px;
        text-align: center;
        .delete-card-btn {
          color: palevioletred;
          position: absolute;
          right: 8px;
          &:hover {
            cursor: pointer;
          }
        }
        .edit-card-btn {
          position: absolute;
          right: 32px;
          color: green;
          cursor: pointer;
        }
      }
      .card-body {
        padding: 8px 16px;
        display: flex;
        flex-direction: column;
        gap: 8px;
      }
    }
  }

  #new-card-dialog {
    position: absolute;
    min-width: calc(100vw / 50);
    z-index: 1;
    background-color: beige;
    display: flex;
    gap: 16px;
    flex-direction: column;
    padding: 16px;
    border: 1px solid;
    &.hidden {
      display: none;
    }
    #new-card-form {
      display: flex;
      flex-direction: column;
      gap: 8px;
      fieldset {
        border-style: none;
        display: flex;
        gap: 8px;
        align-items: center;
      }
    }
  }

  #footer {
    border-top: 2px solid;
  }
}
