.image-gallery {
  width: 250px;
  height: 250px;
  overflow: auto;
  display: flex;
  gap: 16px;
  list-style: none;

  .image-item {
    width: 180px;
    height: 180px;
    img {
      aspect-ratio: 1/1;
      object-fit: contain;
      height: 100%;
      width: 100%;
    }
  }
}
