.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  max-width: 300px;
  margin: auto;
  border: 1px solid;
  border-radius: 8px;

  fieldset {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    border: none;
    flex-wrap: wrap;
    input {
      &[type="password"]:valid:focus,
      &[type="password"]:valid:focus-visible {
        outline: 2px solid lightgreen;
        border: none;
      }
      &:invalid {
        border: 1px solid red;
        border-radius: 2px;

        & + .error-message {
          display: block;
          color: red;
        }
      }
    }

    .error-message {
      display: none;
      font-size: 0.8rem;
    }
  }
}
